@{
  Layout = "_Layout";
}

@model TreatShop.Models.Flavor

<h4 class="display-4 lh-1 mb-4">Add Treat To @Html.DisplayFor(model => model.Name)</h4>

<div class="lead fw-normal text-muted mb-5 mb-lg-0">
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.FlavorId)
    <div class="form-group">
      @Html.Label("Select Treat")
      @Html.DropDownList("TreatId")
    </div>
      <input type="submit" value="Save" class="btn btn-primary"/>
  }
</div>

<br>

<p>@Html.ActionLink("Back to Flavors", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role="button" })</p>
